* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 
    font-family: 'Lato', sans-serif;
    background: rgb(255, 255, 255);
}

main {
    display: grid;
}



.card {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
}

.card h1 {
    font-style: italic;
    text-align: center;
    font-weight: 400;
    margin: 1rem 0;
}

.card > h1 > span {
    font-weight: 700;
}

.cardpic {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.cardpic img {
    width: 80%;
    transition: all 2s linear;
}

.cardpic img:hover {
    transform: scale(1.05);
}

.table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
